################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ecology_Test_User/.vs/Ecology_Test_User
/Ecology_Test_User/x64/Debug
