################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ecology_Test_User/.vs/Ecology_Test_User
/Ecology_Test_User/x64/Debug
/User_Module/bin/Debug/User_Module.exe
/User_Module/bin/Debug/User_Module.pdb
/User_Module/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/User_Module/obj/Debug/User_Module.csproj.GenerateResource.cache
/User_Module/obj/Debug/User_Module.exe
/User_Module/obj/Debug/User_Module.pdb
/User_Module/.vs/User_Module/FileContentIndex/94d1ac15-9cf7-4abf-ac86-addef05924f5.vsidx
/User_Module/.vs/User_Module/FileContentIndex/b722de8a-618d-41b3-9875-1ee1faa42ee2.vsidx
/User_Module/.vs/User_Module/FileContentIndex/cbc8571d-ee56-49e8-b22b-de9b9d57c7e4.vsidx
/User_Module/.vs/User_Module/FileContentIndex/de5389aa-ce24-4a99-93ae-88943b4d11cf.vsidx
/User_Module/.vs/User_Module/v17/.suo
/.~lock.Test.xls#
/User_Module/.vs/User_Module/FileContentIndex
